body, html {
  height: 100%;
  margin: 0;
  /* background: #2980B9; */
  /* background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); */
  /* background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); */
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}